get_embeddings/logs/
get_embeddings/output_logs/
preprocessed_data/embeddings/

.dockerignore
*.lock
# *.ipynb
.DS_Store
._.DS_Store
*.xml
*.jpg
*.pyc
*.ckpt
*.pth
*.tiff
*.svg
*.log

weights/custom/
/notebooks
/outputs
/logs
/output
/.vscode
/.github
/docs
/wandb
/results
/output_logs
viz_dataset/thumbs

lol.py
dinov3/**/*.png
dinov3/**/outputs/
dinov3/**/results/
